* {
    margin: 0;
}

body {
    height: 100vh;
    /* background-color: hsl(225, 100%, 94%); */
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;


}

#top-part {
    border-radius: 14px;
}


.main {

    justify-content: center;
    text-align: center;

}

.down-part {
    background-color: hsl(0, 0%, 100%);
    width: 450px;
    text-align: center;


}